.BeerButton {
    text-align: center;

  }
  
  .BeerButton-logo {
    /* margin-top: -80px; */
    cursor: pointer;
    height: 500px;
    animation: BeerButton-logo-spin infinite 20s linear;
    position: relative;
  }

  /* @keyframes BeerButton-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  } */

  .button {
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    /* margin: 20px; */
    margin: 20px auto;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    display: block;
}

.btnTitle{
  position: relative;
  top: -240px;
  cursor: pointer;
  /* font-size: 2em; */
}

@media (max-height: 800px) {
  .BeerButton-logo  {
    height: 300px;
  }
}

@media (max-height: 950px) {
  .BeerButton-logo  {
    height: 400px;
  }
}

