.BeerButton {
    text-align: center;

  }
  
  .BeerButton-logo {
    margin-top: -80px;
    cursor: pointer;
    height: 400px;
    animation: BeerButton-logo-spin infinite 20s linear;
    position: relative;
  }
  
/* 
  .BeerButton-intro {
    font-size: large;
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 3%;
    width: 100%;
    text-align: right;
    padding-right: 1%;
    background-color: #EFEBEB;
  } */
  
  @keyframes BeerButton-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .button {
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    /* margin: 20px; */
    margin: 20px auto;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    display: block;
  

    

}