.createUserForm{
    z-index: 500;
    background-color: white;
    width: 40%;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: auto;
    text-align: center;
    margin-bottom: 1%;
    max-width: 500px;
}

.formInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.inputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
}

@media(max-width: 499px){
    .createUserForm{
        width: 80%;
    }
}