.refineForm{
    /* position: fixed; */

    position: fixed;
    z-index: 500;
    background-color: white;
    width: 40%;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 20px;
    left: 30%;
    top: 35%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: auto;
    text-align: center;
    margin-bottom: 1%;
    /* height: 100%; */
}

.formButton {
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    /* display: block; */

}

.closeButton {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font: inherit;
    /* padding: 10px; */
    /* margin: 20px; */
    font-weight: bold;
    /* box-shadow: 1px 1px 1px black; */
    /* float: left; */
    position: absolute;
    left: 3%;
    top: 3%;
}

.formHeader{
    font-size: 1.3em;
}

.spinnerHeader{

    text-align: center;
}
