.signOutBtn{
    /* border: none; */
    background: grey;
    font-weight: bold;
    color: black;
    font: inherit;
    float: right;
    margin-right: 0px;
    text-decoration: none;
    margin: 13px;
    padding: 5px;
}