.signOutBtn{
    border: none;
    background: none;
    font-weight: bold;
    color: black;
    font: inherit;
    float: right;
    margin-right: 0px;
    text-decoration: none;
    margin: 1%;
    padding: 0.8%;
}