.Account{
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 10%;
    text-align: center;
    margin-bottom: 1%;
    overflow-y: scroll;
    max-height: 50%;
}

.userBeerList{
    list-style: none;
    padding: 1%;
}

.userBeerItems{
    text-decoration: none;
    text-align: left;
    padding: 1%;
}

.beerListing{
    text-align: left;
}

.userBeerItems a{
    text-decoration: none;
    color: black;
}

.lcboMessage{
    float: right;
    position: sticky;
    bottom: 0;
    background: white;
    
}

@media (max-width: 499px) {
    .Account{
        width: 80%;
        margin: auto;
        left: 5%;
    }
}