.Account{
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 20px;
    left: 25%;
    /* top: 35%; */
    /* box-sizing: border-box; */
    transition: all 0.3s ease-out;
    /* margin: auto; */
    text-align: center;
    margin-bottom: 1%;
    overflow-y: scroll;
    max-height: 40%;
    
}

.userBeerList{
    list-style: none;
    padding: 1%;
}

.userBeerItems{
    text-decoration: none;
    text-align: left;
    padding: 1%;
    /* margin:  */
}

.beerListing{
    text-align: left;
}

.userBeerItems a{
    text-decoration: none;
    color: black;
}

.lcboMessage{
    float: right;
    position: sticky;
    bottom: 0;
    
}